body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  display: inline-block;
  text-decoration: none;
}
.suptitle-left {
  font-size: 22px;
  line-height: 32px;
  /* identical to box height, or 145% */
  text-align: right;
  letter-spacing: 7.33333px;
  text-transform: uppercase;
  padding-left: 103px;
  position: relative;
  display: inline-block;
  &::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: #fff;
    left: 0;
    top: 50%;
  }
}
