@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
  position: relative;
  height: 100vh;
}
.header__slider {
  &-item {
    height: 100vh;
    background-image: url(../images/first/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
}
.slider-item_info {
  position: absolute;
  right: 80px;
  bottom: 116px;
  text-align: right;
  opacity: 0.5;
}
.slider-item_info-title {
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 86px;
  margin-bottom: 48px;
}
.slider-item_info-suptitle {
  margin-bottom: 5px;
}
.slider-item_info-suptext {
  margin-bottom: 8px;
}

.slider-item_info-text {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 20px;
}
.slider-arrows {
  position: absolute;
  top: 40px;
  right: 80px;
  cursor: pointer;
  z-index: 4;
}
.slider-arrows__left {
  right: 125px;
}
.slider-dotshead {
  position: absolute;
  right: 50px;
  bottom: 36px;
  max-width: 920px;
  width: 100%;
  .slick-current {
    .dots-box {
      border-color: $green;
    }
  }
}
.dots-box {
  width: 200px;
  border-top: 4px solid #fff;
  padding-top: 6px;
  display: flex;
  justify-content: space-between;
  height: 28px;
  align-items: center;

  &__number {
    font-weight: 800;
    font-size: 24px;
    line-height: 34px;
  }
  &__name {
    font-weight: 300;
    line-height: 19px;
    text-transform: capitalize;
  }
}
.header__aside {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid rgba(#fff, 0.25);
  max-width: 168px;
  height: 100vh;
  text-align: center;
}
.header-title {
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;

  /* height: 312px;
  left: -0.97%;
  right: 68.54%;
  top: calc(50% - 312px / 2 - 3885.5px);
*/
  font-style: normal;
  font-weight: 800;
  font-size: 200px;
  line-height: 156px;
  /* or 78% */
  mix-blend-mode: normal;
  opacity: 0.07;
  max-width: 467px;
}

.menu {
  padding-top: 40px;
  span {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height, or 117% */
    letter-spacing: 3px;
    padding-top: 6px;
    margin-bottom: 20px;
    text-transform: capitalize;
  }
}
.header__search {
  padding-top: 15px;
  padding-bottom: 35px;
}
.header__date {
  font-weight: 800;
  font-size: 72px;
  line-height: 64px;
  /* identical to box height, or 89% */
  //text-transform: uppercase;
  span {
    display: block;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height, or 119% */
    letter-spacing: 1.4px;
    margin-bottom: 30px;
    padding-top: 15px;
  }
}
.header__location {
  text-transform: capitalize;

  display: inline-block;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height, or 117% */
  letter-spacing: 1.05px;
  position: relative;
  padding-left: 19px;
  &::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 13px;
    background-image: url(../images/marker.svg);
    left: 0;
    top: 0;
  }
}
.header__map {
  z-index: 3;
  position: absolute;
  right: 0;
  top: 0;
}
.header__arrrows {
  z-index: 3;
  position: absolute;
  left: 210px;
  bottom: 40px;
}
.line-animation {
  stroke-dashoffset: 600;
  stroke-dasharray: 600;
  // animate__delay: 6s;
  animation: animdash 5s infinite 6s;
}
@keyframes animdash {
  to {
    stroke-dashoffset: 0;
  }
}

.surf {
  padding: 160px 0 10px;
  background-image: url(../images/Path.png);
  background-position: right 200px;
  background-repeat: no-repeat;
  background-size: auto;
}
.surf__subtitle {
  text-align: right;
  padding-right: 80;
  margin-top: -80px;
}
.surf-box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 750px;
  &__inner {
    min-height: 750px;
    background-color: rgba(#1c2121, 0.85);
    transition: all 0.5s;
    &:hover {
      background-color: rgba(#1c2121, 0.3);
      .surf-box__inner-btn {
        display: block;
      }
    }
    position: relative;
  }
}

.surf-box__inner-title {
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;
  padding: 72px 0 0 40px;
  //width: 140px;
}
.surf-box__inner-location {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 8px;
  position: absolute;
  left: 40px;
  bottom: 80px;
  width: 0;
  height: 0;
  transform: rotate(-90deg);
  white-space: nowrap;
  span {
    font-weight: 100;
  }
}
.surf-box__inner-btn {
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 0;
  right: 0;
  display: none;
}

.surf-slider {
  padding-top: 1 10px;
  .slick-current {
    .surf-box {
      .surf-box__inner {
        min-height: 750px;
        background-color: rgba(#1c2121, 0.3);
        position: relative;
      }
    }
  }
  .slick-slide:nth-child(4n + 1) {
    .surf-box {
      margin-top: 32px;
    }
  }
  .slick-slide:nth-child(4n + 3) {
    .surf-box {
      margin-top: 89px;
    }
  }
  .slick-current {
    .surf-box__inner-btn {
      display: block;
    }
  }
}
.slider-arrows {
  top: -50px;
  opacity: 0.25;
}
.slider-map__back {
  //display: block;
  position: absolute;
  max-width: 1200px;
  min-height: 635px;
  background-image: url(../images/world_map_dots.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  left: 14.39%;
  right: 10.33%;
  top: 143.39%;
  bottom: 74.68%;
}
.slider-map {
  max-width: 1480px;
  min-height: 685px;
  margin: 0 auto;
  .slick-list {
    min-height: 685px;
  }
  .slick-current {
    .slider-dots__circle {
      &::before {
        //    display: none;
        content: "";
        position: absolute;
        background-image: url(../images/mini-marker.svg);
        width: 14px;
        height: 16px;
        background-size: cover;
        top: -17px;
        left: 25px;
        //  opacity: 0.1;
      }
    }

    .silder-dots__content {
      display: block;
      overflow: visible;
      width: 285px;
      padding: 28px 31px 0 32px;
    }
  }
}

.slider-dots__content-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
.slider-dots__content-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    background-color: $green;
    width: 80px;
    height: 1px;
    bottom: 0;
    left: 0;
  }
}
.slider-dots__content-sub {
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
}
.slider-dots__content-item {
  text-align: center;
  img {
    margin-bottom: 7px;
  }
}
.slider-dots__content-number {
  font-size: 16px;
  line-height: 23px;
  font-weight: 800;
}
.slider-dots__content-name {
  font-size: 10px;
  line-height: 12px;
  font-weight: 300;
}
.slider-dots__circle {
  width: 23px;
  height: 23px;
  background-color: $green;
  border-radius: 50%;
}
.silder-dots__content {
  display: none;
  background-color: rgba(#1c2121, 0.9);
  border-radius: 10%;
  position: absolute;
  bottom: 35px;
  transform: translateX(-50%);
  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 20px solid $green;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    bottom: -21px;
    left: 50%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
.slider-dots {
  position: relative;
}

.slider-dots--1 {
  top: 335px;
  left: 160px;
}
.slider-dots--2 {
  top: 292px;
  left: 125px;
  /*
  &::before {
    //    display: none;
    content: "";
    position: absolute;
    background-image: url(../images/mini-marker.svg);
    width: 14px;
    height: 16px;
    background-size: cover;
    top: -17px;
    left: 25px;
    //  opacity: 0.1;
  }
  */
}

.slider-dots--3 {
  top: 330px;
  left: 140px;
}
.slider-dots--4 {
  top: 505px;
  left: 25px;
}
.slider-dots--5 {
  top: 227px;
  left: -30px;
}
.slider-dots--6 {
  top: 565px;
  left: -120px;
}
.slider-dots--7 {
  top: 395px;
  left: -135px;
}
.slider-dots--8 {
  top: 510px;
  left: -40px;
}

@import "media";
